.app-header{
    width: 100%;
    height: 55px;
    margin: 0;
    background-color: #3a4149;
    padding: 0 15px;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*/*align-items: center;*/
    /*align-content: center;*/
}
.app-menu{
    background-color: #3a4149;
}