

.app-header{
    width: 100%;
    height: 55px;
    margin: 0;
    background-color: #3a4149;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    align-content: center;
}
.nav-icon-dropdown::after{
    content: "/f0d7"
}
/*.navbar-nav{*/
/*    width: 100%;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    background-color: #3a4149;*/
/*}*/

/*.navbar-nav{*/
/*    display: flex;*/
/*    list-style: none;*/

/*}*/

/*.nav {*/
/*    list-style-type: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    overflow: hidden;*/
/*    background-color: #3a4149;*/

/*}*/
/*.nav li a {*/
/*    color: red;*/
/*    font-weight: 300;*/
/*    letter-spacing: 2px;*/
/*    text-decoration: none;*/
/*    !*background: rgb(238, 13, 13);*!*/
/*    padding: 15px 5px;*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    width: 100%;*/
/*    text-align: center;*/
/*}*/
/*!* Keyframes *!*/
/*.nav li a::after{*/

/*    content: '';*/

/*    position: absolute;*/

/*    bottom:0;*/

/*    width:100%;*/

/*    height: 3px;*/

/*    left:0;*/

/*    background-color: #e43f5a;*/

/*    transform: scaleX(0);*/

/*    transition: 0.3s;*/

/*    transform-origin: left;*/
/*}*/

/*.nav li a :hover:after {*/
/*    transform: scaleX(1);*/

/*    transform-origin: right;*/
/*}*/

/*@-webkit-keyframes fill {*/
/*    0% {*/
/*        width: 0%;*/
/*        height: 1px;*/
/*    }*/
/*    50% {*/
/*        width: 100%;*/
/*        height: 1px;*/
/*    }*/
/*    100% {*/
/*        width: 100%;*/
/*        height: 100%;*/
/*        background: #333;*/
/*    }*/
/*}*/
/*a:hover{*/
/*    animation-name: example;*/
/*    animation-duration: 1s;*/
/*    animation-direction: alternate;*/
/*}*/
/*.nav li{*/
/*    float: left;*/
/*}*/

/*.nav li a{*/
/*    display: block;*/
/*    color: white;*/
/*    text-align: center;*/
/*    padding: 14px 16px;*/
/*    text-decoration: none;*/
/*}*/
/*.nav li a:hover{*/
/*    background-color: #111;*/
/*}*/
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
}
.navbar h3{

    color:#e43f5a;

    font-size: 1.35em;

    /*font-family: Swis721 BT;*/

    text-transform: uppercase;

    margin-left: 25px;

}

.navbar ul {

    display: flex;
    align-items: center;
    justify-content: space-between;


}

.navbar li {

    list-style-type: none;

    padding: 0 10px;

}

.navbar li a{

    font-size: 1em;

    /*font-family: Futura Md BT;*/

    letter-spacing: 2px;

    color:white;

    text-decoration: none;

    outline:none;

    position: relative;

    padding-bottom: 7px;

}

.navbar li a::after{

    content: '';

    position: absolute;

    bottom:0;

    width:100%;

    height: 1px;

    left:0;

    background-color: white;

    transform: scaleX(0);

    transition: 0.3s;

    transform-origin: left;

}

.navbar li a:hover::after {

    transform: scaleX(1);

    transform-origin: right;

}

.nav-link{
    color: #c8ced3;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    /*border-top: .3em solid;*/
    /*border-right: .3em solid transparent;*/
    /*border-bottom: 0;*/
    /*border-left: .3em solid transparent;*/
}